@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Concert+One&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&family=Playpen+Sans+Hebrew:wght@100..800&family=Poetsen+One&display=swap');

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}


.msg-box{
  background-color: lightgray;
  /* border: 2px solid black; */
  border-radius: 0.25rem 2rem 2rem 2rem;
 
/* 
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal; */

   /* font-family: "Playpen Sans Hebrew", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
   font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
}
.reply-box{
  /* background-color: white; */
  /* border: 2px solid black; */
  background-color: #E8F9FF;
  border-radius: 2rem 0.25rem 2rem 2rem;

   /* font-family: "Poetsen One", sans-serif;
  font-weight: 200;
  font-style: normal; */

   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chat-box{
    background-image: url('../images/chatbg.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position:right;
  /* background-attachment: fixed; */

}

.sidebar{
   /* background-image: url("../images/sidebarbg.jpg"); */
   background-color: lightgray;
    /* background-size:cover; */ 
  /* background-repeat: no-repeat; */
  /* background-clip: fixed; */
  background-size: contain;
}

.side-box{
    background-image: url("../public//images/sidebarbg.jpg");
  background-size: contain;
   /* background-attachment: fixed; */
}

.chat-input{
    border-radius: 2rem 0.25rem 2rem 2rem;
}

.chat-item{


}